/* has-tippy wird in _conf.yml konfiguriert */
.has-tippy .doc::before {
  content: "📑";
}

.has-tippy .std-term::before {
  content: "🔎";
}

.has-tippy > * {
  white-space: nowrap;
}

a[href*="wikipedia"]::before {
  content: "🌐";
}